<div class="sm:mx-auto sm:w-full sm:max-w-md">
<img class="w-auto h-20 mx-auto" src="<%= asset_path('topic-scout-mark.svg') %>" alt="Topic Scout">
<h2 class="mt-6 text-3xl font-bold tracking-tight text-center text-gray-900">Sign in to your account</h2>
<p class="mt-2 text-sm text-center text-gray-600">
  Or
  <a href="https://www.topicscout.app" class="font-medium text-violet-600 hover:text-violet-500">start your 14-day free trial</a>
</p>
</div>
<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
  <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
  
    <%= form_tag login_challenge_path, class: 'space-y-6', remote: false, turbo: false, data: {turbo: false}, target: '_top' do |f| %>
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
        <div class="mt-1">
          <%= text_field_tag :email, nil, placeholder: 'me@example.com', type: 'email', autocomplete: 'email', required: true, class: 'block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm' %>
        </div>
      </div>
      
        <button type="submit" class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-violet-600 border border-transparent rounded-md shadow-sm hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2">Send me a Code</button>
      </div>
    <% end %>
  </div>
</div>
