<tr>
  <td class="py-4 pl-6 pr-3 text-sm font-medium text-gray-900 whitespace-nowrap"><span class="text-gray-500 line-through"><%= topic.name %></span></td>
  <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">--</td>
  <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">--</td>
  <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">--</td>
  <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">--</td>
  <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">--</td>
  <td class="relative py-4 pl-3 pr-6 text-sm font-medium text-right whitespace-nowrap">
    <span class="text-gray-500">Deleting...</span>
  </td>
</tr>
