  <div class="px-4 py-16 mx-auto max-w-7xl sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-base font-semibold tracking-wide uppercase text-violet-600">Get started</h2>
      <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Discover Topics on Twitter</p>
      <p class="max-w-xl mx-auto mt-5 text-xl text-gray-500">Give us a keyword and we'll find the best tweets, top influencers, and help you learn more about any topic.</p>
    </div>
    <div class="py-16">
      <%= form_with model: [:onboarding, @topic], class: 'w-1/2 mx-auto' do |f| %>
        <div>
          <label for="topic" class="sr-only">topic</label>
          <%= f.text_field :topic, class: 'p-6 shadow-sm focus:ring-violet-500 focus:border-violet-500 block w-full text-4xl border-gray-300 rounded-md text-center', placeholder: @placeholders.sample, required: true %>
          <p class="mt-8 text-center">
            <button type="submit" class="inline-flex items-center px-6 py-3 text-2xl font-medium text-white border border-transparent rounded-md shadow-sm bg-violet-600 hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">Continue</button>
          </p>
        </div>
      <% end %>
    </div>
  </div>